h1 {
  color:rgb(7, 102, 49);
  text-align:center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-style:italic;
  text-align:center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size:20px;
  line-height:30px;
}

a {
  color:darkslategrey;
}
